<h1 class="title">Iniciar sesión</h1>

<div class="container">
  <div class="form-container">
    <form [formGroup]="FormUsuario">
      <div class="input-container">
        <label htmlFor="correo">Correo electrónico</label>
        <input
          pInputText
          id="correo"
          aria-describedby="correo-help"
          formControlName="Correo"
        />
      </div>
      <div class="input-container">
        <label htmlFor="contrasenia">Contraseña</label>
        <p-password
          formControlName="Contrasenia"
          [toggleMask]="true"
          id="contrasenia"
        ></p-password>
      </div>

      <p-toast></p-toast>
      <div class="form-button">
        <button
          type="submit"
          pButton
          pRipple
          label="Ingresar"
          class="p-button-success"
          (click)="login()"
        ></button>
      </div>
    </form>
  </div>

  <span class="registro">
    ¿No tienes una cuenta?
    <a routerLink="/registrar">Registrate</a>
  </span>
</div>
